.add-product form input,
.add-product textarea {
  display: block;
  width: 96%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-product textarea {
  width: 96%;
}

.add-product form {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: #33434b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.add-product form label {
  color: #fff;
}