.search-filter-container input {
  width: calc(97% - 25px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 11px;
}

.product-item {
  width: 400px;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;

}

.product-item:hover {
  transform: translateY(-5px);
}

.product-item img {
  /* width: 100%; */
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

.product-details {
  padding: 10px;
}

.product-details p {
  margin: 0;
  color: #888;
  font-size: 14px;
}

.product-details h3 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--slate-500);
  font-weight: 600;
}

.product-details div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details h5 {
  font-size: 20px;
}

.product-details button {
  padding: 8px 16px;
  background-color: var(--slate-600);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-details button:hover {
  background-color: var(--slate-500);
}

.error-message,
.loading-message {
  text-align: center;
  margin: 20px;
  font-size: 18px;
  color: #f44336;
}

.bxs-heart-circle,
.bx-heart-circle {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.bxs-heart-circle {
  color: #e43b2f;
}

.bx-heart-circle:hover {
  color: #e43b2f;
}