  .dashboard {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2,
  h3 {
    color: #444;
    margin-bottom: 20px;
  }

  .dashboard input,
  .dashboard button {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .dashboard input {
    width: 97%;
  }

  input:focus,
  button:focus {
    border-color: #aaa;
    outline: none;
  }

  button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #555;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .dashboard li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .table-container {
    width: 100%;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  thead {
    background-color: #f9f9f9;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }



  /* ------------------------- */
  .user .modal-overlay{
    background: rgb(0 0 0 / 5%) !important;
  }

  .snackbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  .snackbar-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
  }

  .snackbar-buttons button {
    padding: 6px 30px !important;
    width: auto !important;
  }

  .snackbar-buttons .confirm-btn {
    background-color: #28a745;
  }

  .snackbar-buttons .cancel-btn {
    background-color: #dc3545;
  }


  .snackbar-buttons button:hover {
    opacity: 0.9;
  }


  @media (max-width: 480px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr {
      margin-bottom: 15px;
    }

    td {
      position: relative;
      padding-left: 50%;
      text-align: right;
    }

    td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
    }
  }